.btn btn-primary btn-lg btn-block {
    padding: 13px;
    background-color: #5d9cec;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    border: #5791da 1px solid;
    font-size: 1.1em;
}

.demo-input-box {
    padding: 13px;
    border: #CCC 1px solid;
    border-radius: 4px;
    width: 100%;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

form label{
    font-weight: bold;
}

.form-div{
    margin-top: 100px;
    border: 1px solid black;
    padding-top: 15px;
}