<!-- Course Outline Sections -->
{% extends "Courseoutline/generic_index.html" %}

{% block content %}
     
 <h4 class="mb-5">{{courseoutline.CourseName}} | {{courseoutline.CourseCode}}-Course Outline</h4>
 <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Section</th>
            <th scope="col">Available</th>
            <th scope="col">Action</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% if  request.get_full_path == "/courseoutline/18/view/sections/"%}
     
                    <tr>
                    {{section1.CourseOutlineID.CourseOutlineID}}
                    
                        <th scope="row">Section 1</th>
                        <td><a href =" {% url 'courseoutlinesectionupdate' section1.SectionID %}"> {{section1.SectionName}}</a></td>
                        <td>{% if section1 == None %}{% else %}Yes{% endif %}</td>
                        <td><a href =" {% url 'courseoutlinesectionupdate' section1.SectionID %}">
                                    <button type="submit" class="btn btn-info">Update</button></td>
                        <td>    <form action = "{% url 'courseoutlinedelete' courseoutline.CourseOutlineID %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                        </td>
                    </tr>

                </a>
                <tr>
            
                    
                        <th scope="row">Section 2</th>
                        <td>{% if section2 == None %}Aims and Objectives{% else %}<a href =" {% url 'courseoutlinesectionupdate' section2.SectionID %}"> {{section2.SectionName}}</a>{% endif %}</td>
                        <td>{% if section2 == None %}No{% else %}Yes{% endif %}</td>
                        <td></td>
                        <td>    <form action = "{% url 'courseoutlinedelete' courseoutline.CourseOutlineID %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                        </td>
                    </tr>

                </a>
            
  

    {% else %}
        

     <h4 class="mb-5">{{courseoutline.CourseName}}|{{courseoutline.CourseCode}}-Course Outline</h4>
    <form method="post"> 
        {% csrf_token %}
          {{form.as_p}}
          <button type="submit" class="btn btn-info" value="Update">Update</button>
    </form> 
            <div class="container mt-3">
            <a name="gotosection" id="gotosection" class="btn btn-primary" href="{% url 'courseoutlinesectionlist' section1.CourseOutlineID.CourseOutlineID%}" role="button">Go to sections</a>
        </div>
    </div> 
    {% endif %}



{% endblock %}