{% extends "Courseoutline/generic_index.html" %}

{% block content %}

    <section class="testimonials text-center bg-light">
        <div class="container">
            {% if courseoutlines %}
                {% for courseoutline in courseoutlines %}
                   
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{CourseOutline.CourseName}}</h5>
                                    <p class="card-text">{{CourseOutline.FacultyName}}</p>
                                    <a href =" {% url 'update' curriculum.CurriculumID %}" class="btn btn-primary">View</a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">{{Section1.DateofCourseDevelopmentorRevision}}</small>
                                </div>
                            </div>
                        </div>
               
                  
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{CourseOutline.CourseName}}</h5>
                                        <p class="card-text">{{CourseOutline.FacultyName}}</p>
                                        <a href =" {% url 'update' curriculum.CurriculumID %}" class="btn btn-primary">View</a>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">{{Section1.DateofCourseDevelopmentorRevision}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <hr>
                    <br>  

                {% endfor %}
            {% endif %}  
        </div>
    </section>

{% endblock %}