<!-- Course Outline Sections 4 -->
{% extends "Courseoutline/generic_index.html" %}

{% block content %}

            <form action = "{% url 'courseoutlinesection4create' currentcourseoutlineobj.CourseOutlineID %}" method="POST"> 
                {% csrf_token %}
                    {{courseoutlineForm4}}
                 <button type="savefinish"  class="btn btn-primary mb-2" >Save and Proceed to Section 5</button>
                 <button type="savemultiple" name="savemultiple" class="btn btn-primary mb-2" >Save and Add another Topics</button>
               
                
            </form>



{% endblock %}