<!-- Curriculum Section -->
{% extends "Courseoutline/generic_index.html" %}

{% block content %}

    <div>
    {% if request.get_full_path == "/courseoutline/create/curriculum/"%}    
        <form action = "{% url 'curriculumcreate'%}" method="POST"> 
            {% csrf_token %}
            {{curriculumForm}}
            <br>
            <hr>
                <button type="submit" class="btn btn-primary mb-2" >Next</button>
            <br>
            <br>
            <h2>Available Curriculum</h2>
        </form>
        <br>
        <hr>
        <br>
        <!-- <table class="table">
                <thead>
                    <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Curriculum Name</th>
                    <th scope="col">Faculty Name</th>
                    <th scope="col">Create Date</th>
                    </tr>
                </thead>
                <tbody>
                {% if currentcurriculum %}
                    {% for curriculum in currentcurriculum %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td><a href =" {% url 'update' curriculum.CurriculumID %}"> {{curriculum.CurriculumName}}</a></td>
                            <td>{{curriculum.FacultyName}}</td>
                            <td>{{curriculum.CreateDate}}</td>
                        </tr>
                    </a>
                    {% endfor %}
        {% endif %}   -->

        <section class="testimonials text-center bg-light">
            <div class="container">
                {% if currentcurriculum %}
                    {% for curriculum in currentcurriculum %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{curriculum.CurriculumName}}</h5>
                                        <p class="card-text">{{curriculum.FacultyName}}</p>
                                        <a href =" {% url 'update' curriculum.CurriculumID %}" class="btn btn-primary">View</a>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">{{curriculum.CreateDate}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{curriculum.CurriculumName}}</h5>
                                        <p class="card-text">{{curriculum.FacultyName}}</p>
                                        <a href =" {% url 'update' curriculum.CurriculumID %}" class="btn btn-primary">View</a>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">{{curriculum.CreateDate}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <br>  
                    {% endfor %}
                {% endif %}  
            </div>
        </section>

    {% else %}
    <form method="POST"> 
        {% csrf_token %}
          {{form.as_p}}
          <input type="submit" value="Update">
    </form>
    <br>
    <hr>
    <br>      
    <form action = "{% url 'curriculumdelete' curriculum.CurriculumID %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
    </form>
            
    {% endif %} 
{% endblock %}


