<!-- Curriculum Section -->
{ % extends "generic_index.html" % }

{ % block content % }
    <h1>Curriculum Section</h1>
    <form action = "{% url 'Courseoutline:/.../' %}" method="POST"> 
        {% csrf_token %}
           {{curriculumForm}}
             <button type="submit" class="btn btn-primary mb-2" >Next</button>
    </form>
{ % endblock % }

<!-- Course Outline Section  -->
{ % extends "generic_index.html" % }

{ % block content % }
    <h1>Course Outline Section</h1>
    <form action = "{% url 'Courseoutline:/.../' %}" method="POST"> 
        {% csrf_token %}
           {{outlineForm}}
             <button type="submit" class="btn btn-primary mb-2" >Next</button>
    </form>
{ % endblock % }

<!-- Course Outline Section 1 -->
{ % extends "generic_index.html" % }

{ % block content % }
    <h1>Course Outline ection 1</h1>
    <form action = "{% url 'Courseoutline:/.../' %}" method="POST"> 
        {% csrf_token %}
           {{outlineForm1}}
             <button type="submit" class="btn btn-primary mb-2" >Next</button>
    </form>
{ % endblock % }

<!-- Course Outline Section 2 -->
{ % extends "generic_index.html" % }

{ % block content % }
    <h1>Course Outline Section 2</h1>
    <form action = "{% url 'Courseoutline:/.../' %}" method="POST"> 
        {% csrf_token %}
           {{outlineForm2}}
             <button type="submit" class="btn btn-primary mb-2" >Next</button>
    </form>
{ % endblock % }

<!-- Course Outline Section 3 -->
{ % extends "generic_index.html" % }

{ % block content % }
    <h1>Course Outline Section 3</h1>
    <form action = "{% url 'Courseoutline:/.../' %}" method="POST"> 
        {% csrf_token %}
           {{outlineForm3}}
             <button type="submit" class="btn btn-primary mb-2" >Next</button>
    </form>
{ % endblock % }

<!-- Course Outline Section 4 -->
{ % extends "generic_index.html" % }

{ % block content % }
    <h1>Course Outline Section 4</h1>
    <form action = "{% url 'Courseoutline:/.../' %}" method="POST"> 
        {% csrf_token %}
           {{outlineForm4}}
             <button type="submit" class="btn btn-primary mb-2" >Next</button>
    </form>
{ % endblock % }

<!-- Course Outline Section 5 -->
{ % extends "generic_index.html" % }

{ % block content % }
    <h1>Course Outline Section 5</h1>
    <form action = "{% url 'Courseoutline:/.../' %}" method="POST"> 
        {% csrf_token %}
           {{outlineForm5}}
             <button type="submit" class="btn btn-primary mb-2" >Next</button>
    </form>
{ % endblock % }

<!-- Course Outline Section 6 -->
{ % extends "generic_index.html" % }

{ % block content % }
    <h1>Course Outline Section 6</h1>
    <form action = "{% url 'Courseoutline:/.../' %}" method="POST"> 
        {% csrf_token %}
           {{outlineForm6}}
             <button type="submit" class="btn btn-primary mb-2" >Submit</button>
    </form>
{ % endblock % }
