<!-- Curriculum Section -->
{% extends "Courseoutline/generic_index.html" %}

{% block content %}

    <div>
    {% if request.get_full_path == "/courseoutline/create/curriculum/"%}    
        <form action = "{% url 'curriculumcreate'%}" method="POST"> 
            {% csrf_token %}
            {{curriculumForm}}
            <br>
            <hr>
                <button type="submit" class="btn btn-primary mb-2" >Next</button>
            <br>
            <br>
            <!-- Make a divider for the view of the curriculum -->
            <h2>Available Curriculum</h2>
        </form>
        <table class="table">
        <thead>
            <tr>
            <th scope="col">No.</th>
            <th scope="col">Curriculum Name</th>
            <th scope="col">Faculty Name</th>
            <th scope="col">Create Date</th>
            </tr>
        </thead>
        <tbody>
        {% if currentcurriculum %}
            {% for curriculum in currentcurriculum %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td><a href =" {% url 'update' curriculum.CurriculumID %}"> {{curriculum.CurriculumName}}</a></td>
                    <td>{{curriculum.FacultyName}}</td>
                    <td>{{curriculum.CreateDate}}</td>
                </tr>
            </a>
            {% endfor %}
        {% endif %}  



    {% else %}
    <form method="POST"> 
        {% csrf_token %}
          {{form.as_p}}
          <input type="submit" value="Update">
    </form>

    <br>
    <hr>
    <br>      
    <form action = "{% url 'curriculumdelete' curriculum.CurriculumID %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
    </form>
            


    {% endif %} 
{% endblock %}


