{% extends 'Courseoutline/generic_index.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Curriculum</h1>
        <hr class="my-4">
        <p>Here are the options by selecting this.</p>
        <p>Create a new Curriculum</p>
        <p>See any available Curriculum</p>
        <p>Update any available Curriculum</p>
        <p>Delete any available Curriculum</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'curriculumcreate' %}" role="button">Manage</a>
        </p>
    </div>
    <br>
    <hr>
    <div class="jumbotron">
        <h1 class="display-4">Create New Course Outline</h1>
        <hr class="my-4">
        <p>Here are the options by selecting this.</p>
        <p>Create a new Course Outline</p>
        <p>See any available Course Outline</p>
        <p>Update any available Course Outline</p>
        <p>Delete any available Course Outline</p>        
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'courseoutlinecreate' %}" role="button">New</a>
        </p>
    </div>
    <br>
    <hr>
    <div class="jumbotron">
        <h1 class="display-4">View Course Outline</h1>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">View</a>
        </p>
    </div>
    <br>
    <hr>
    <div class="jumbotron">
        <h1 class="display-4">Update Course Outline</h1>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Update</a>
        </p>
    </div>
    <br>
    <hr>
    <div class="jumbotron">
        <h1 class="display-4">Delete Course Outline</h1>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Delete</a>
        </p>
    </div>

{% endblock %}
