{ % extends "generic_index.html" % }

{ % block content % }
    <div class="jumbotron">
        <h1 class="display-4">Create New Course Outline</h1>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">New</a>
        </p>
    </div>
    <br>
    <hr>
    <div class="jumbotron">
        <h1 class="display-4">View Course Outline</h1>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">View</a>
        </p>
    </div>
    <br>
    <hr>
    <div class="jumbotron">
        <h1 class="display-4">Update Course Outline</h1>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Update</a>
        </p>
    </div>
    <br>
    <hr>
    <div class="jumbotron">
        <h1 class="display-4">Delete Course Outline</h1>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Delete</a>
        </p>
    </div>

{ % endblock % }